{% extends "layout.html" %} {% block content %}
<div class="site-wrap" style="z-index: 20005; position: fixed;">
    <div class="site-mobile-menu" style="z-index: 20006;">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
    </div>

    <header class="site-navbar" role="banner" style="top: 0;">
        <div class="container" style="max-width: 1340px;">
            <div class="row align-items-center">
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
                    style="position: relative; top: 0; margin-left: 10px;">
                    <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-chevron-left h3"
                            onclick="goBack()" style="font-size: 45px;"></span></a>
                </div>
            </div>
        </div>
    </header>
</div>
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <p>
                <center>Thankyou! We will Connect to you as soon as possible</center>
            </p>
            <p>You will be redirected to the new address in five seconds.</p>
            <p>If you see this message for more than 10 seconds, please click <a href="/">here</a></p>
        </div>
    </div>
</div>
{% endblock content %}