{% extends "layout.html" %} {% block content %}
<div class="site-wrap" style="z-index: 20005;">
  <div class="site-mobile-menu" style="z-index: 20006;">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar" role="banner" style="top: 0;">
    <div class="container" style="max-width: 1340px;">
      <div class="row align-items-center">
        <div class="col-12 col-md-8 d-none d-xl-block">
          <nav
            class="site-navigation position-relative text-right"
            role="navigation"
          >
            <!-- <ul class="side" style="margin: 20px 0;">
            <img class="nav-svg" src="static\svg\start.svg" alt="" />
            <li class="side-li">
              <a href="#webinar" class="active" style="">Webinars</a>
            </li>
            <img class="nav-svg" src="static\svg\mid.svg" alt="" />
            <li class="side-li">
              <a href="#events" style="">Upcoming Events</a>
            </li>
            <img class="nav-svg" src="static\svg\mid.svg" alt="" />
            <li class="side-li">
              <a href="#news" style="">News Feed</a>
            </li>
            <img class="nav-svg" src="static\svg\mid.svg" alt="" />
            <li class="side-li">
              <a href="#clan" style="">UCOE Clan</a>
            </li>
            <img class="nav-svg" src="static\svg\end.svg" alt="" />
          </ul> -->
            <ul class="site-menu side js-clone-nav mr-auto d-none d-lg-block">
              <img class="nav-svg" src="..\static\svg\start1.svg" alt="" />
              <li>
                <a href="/home"><span class="n-link">Home</span></a>
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />
              <li class="active">
                <a href="/webinar"><span class="n-link">Webinar</span></a>

                <!-- <ul class="dropdown arrow-top">
                  <li><a href="comps">Computer Engineering</a></li>
                  <li><a href="#">Information Technology</a></li>
                  <li><a href="#">Civil Engineering</a></li>
                  <li><a href="#">Electronics</a></li>
                  <li><a href="#">Electronics & Telecommunication</a></li>
                </ul> -->
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />
              <li>
                <a href="/events"
                  ><span class="n-link">Upcoming Events</span></a
                >
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />
              <li>
                <a href="/ucoeclan"><span class="n-link">Ucoe Clan</span></a>
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />

              <li>
                <a href="/newsf"><span class="n-link">News Feed</span></a>
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />
              <li>
                <a href="/courses"
                  ><span class="n-link">Online Courses</span></a
                >
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />
              <li>
                <a
                  href="http://www.universalcollegeofengineering.edu.in/contact-us/virtual-campus/"
                  target="_blank"
                  ><span class="n-link">Virtual Tour</span></a
                >
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />
              <li>
                <a href="http://unibotbeta.000webhostapp.com" target="_blank"
                  ><span class="n-link">ChatBot</span></a
                >
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />
              <li>
                <a href="/profile"><span class="n-link">Profile</span></a>
              </li>
              <img class="nav-svg" src="..\static\svg\b-mid.svg" alt="" />

              <li>
                <a href="/logout"><span class="n-link">Logout</span></a>
              </li>

              <img class="nav-svg" src="..\static\svg\end1.svg" alt="" />
            </ul>
          </nav>
        </div>

        <div
          class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
          style="position: relative; top: 0; margin-left: 10px;"
        >
          <a href="#" class="site-menu-toggle js-menu-toggle text-black"
            ><span class="icon-menu h3" style="font-size: 45px;"></span
          ></a>
        </div>
      </div>
    </div>
  </header>
</div>
<div
  id="container04"
  data-scroll-id="one"
  data-scroll-behavior="center"
  class="style2 container columns"
  style="
    padding: 0;
    background-image: url(static/svg/vector1.svg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: auto;
  "
>
  <!-- <img
  src="static\svg\vector.svg"
  alt="1"
  style="position: absolute; top: 0;"
/> -->
  <div
    class="inner"
    style="
      padding-top: 2rem;
      min-height: 43rem;
      padding-bottom: 0;
      display: flow-root;
    "
  >
    <div style="width: 100%; margin: 0; padding: 0 0 0 75px;">
      <h1 id="text13" class="style1" style="">
        Past Webinars:
      </h1>
      <!-- <a href="login" style="text-decoration: none;"
        ><h1 id="text14" class="style1" style="">
          Browse all >
        </h1></a
      > -->
      <!-- <div class="partners-cont"> -->
      <div
        class="columns is-multiline"
        style="margin: 0; width: 100%; padding-top: 30px;"
      >
        {% for query in querys %}
        <div
          class="column"
          style="
            /* margin-top: 50px; */
            width: 90%;
            margin: auto;
            padding-bottom: 10px;
          "
        >
          <div
            class="box interview-grid-item"
            style="border-radius: 5%; margin-bottom: 0;"
          >
            <div class="interview-grid-item__avatar" style="margin-bottom: 0;">
              <div
                class="partners--logo sb-avatar sb-avatar--src"
                style="
                  display: inline-block;
                  vertical-align: middle;
                  border-radius: 100%;
                  font-family: Helvetica, Arial, sans-serif;
                "
              >
                <iframe
                  class="vid"
                  style="width: 100%; /*height: 160px;*/"
                  width="560"
                  height="315"
                  src="{{query.val().link}}"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <div class="query" style="padding: 10px;">
              <p class="q_professor title is-8" style="font-size: 12px;">
                Professor : {{query.val().professor}}
              </p>

              <p class="q_date title is-8" style="font-size: 12px;">
                Date : {{query.val().date}}
              </p>

              <p class="q_domain title is-8" style="font-size: 12px;">
                Domain : {{query.val().domain}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- </div>  -->
  </div>
</div>

{% endblock content %}
